<a href="https://colab.research.google.com/github/gabrod2021/desafio-postulantes/blob/main/GABRIELA_05_Gu%C3%ADa_de_ejercicios_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Guía de ejercicios N° 2
**Ejercicio 1**

Crear un programa que pida al usuario su edad y muestre por pantalla si es mayor de edad o no.

In [ ]:
edad=int(input("Ingrese su edad: "))
if edad >= 18:
  print("Puede ingresar")
else:
  print("No puede ingresar")

Ingrese su edad: 18
Puede ingresar

**Ejercicio 2**

Crear un programa que almacene en dos variables cadenas de caracteres como nombre y contraseña.
Preguntar al usuario su nombre de usuario y contraseña. Mostrar por pantalla si las entradas fueron correctas o incorrectas.

In [ ]:
usuario=input("Ingrese su nombre de usuario: ")
contraseña=input("Ingrese su contraseña: ")

if usuario.isalpha()==True:
  print("Usuario ok")
else:
  print("Usuario erroneo")

if contraseña.isalnum()==True:
  print("Contraseña ok")
else:
  print("Contraseña erronea")

Ingrese su nombre de usuario: 125
Ingrese su contraseña: rrrr
Usuario erroneo
Contraseña ok

**Ejercicio 3**

Crear un programa que pida al usuario dos números y muestre por pantalla el resultado de la división. Si el dividor ingresado es cero, mostrar un mensaje de advertencia.

In [ ]:
num1=int(input("Ingrese un numero: "))
num2=int(input("Ingrese otro numero: "))

if num2==0:
   print("ERROR!-(Division por 0)")
else:
  resul=num1/num2
  print("El resultado es: ",resul)

Ingrese un numero: 4
Ingrese otro numero: 0
ERROR!-(Division por 0)

**Ejercicio 4**

Crear un programa que pida al usuario un número entero y muestre por pantalla si es par o impar.

In [ ]:
entero=int(input("Ingrese un numero entero: "))
if entero % 2 == 0:
  print("Es par")
else:
  print("Es im
  par")

Ingrese un numero entero: 12
Es par

**Ejercicio 5**

(Admite varios modos de resolverlo y diferentes niveles de complejidad )

En una empresa se realiza una evaluación de desempeño de empleados que se refleja en el monto del bono de fin de año. Cuanto más alto es el puntaje del empleado, mayores los beneficios.

Niveles de rendimiento y puntajes posibles (no hay niveles ni puntajes intermedios):
*   Inaceptable: 0.0
*   Aceptable: 0.4
*   Meritorio: 0.6, 0.8 y 1.0

El monto base del bono es de $100.000, y el extra por desempeño se calcula como el monto base multiplicado por el puntaje. El total es la suma del monto base más el extra por desempeño.

Crear un programa que lea la puntuación de un empleado, muestre su nivel de rendimiento y la cantidad de dinero a recibir.

In [ ]:
monto_base=100000
puntaje=float(input("Ingresar puntaje: "))

def monto_total(monto_base,puntaje):
  monto_base+=monto_base*puntaje
  return monto_base

def valida_puntos(puntaje):
  if puntaje!= 0.6 and puntaje!=0.8 and puntaje!= 1.0 and puntaje!=0.4 and puntaje!=0.0:
   print("Puntaje invalido")
  else:
    imprime_mensaje()

def puntuacion(monto_base,puntaje):
 if puntaje==0.6 or puntaje== 0.8 or puntaje==1.0:
   print("Meritorio")
 elif puntaje==0.4:
   print("Aceptable")
 elif puntaje==0.0:
   print("Inaceptable")

def imprime_mensaje():
  print("Dinero a recibir: ", "$",monto_total(monto_base,puntaje))


puntuacion(monto_base,puntaje)

valida_puntos(puntaje)

Ingresar puntaje: 0.8
Meritorio
Dinero a recibir:  $ 180000.0

**Ejercicio 6**

Una sala de juegos tiene un tarifario por edades.
Crear un programa que pregunte la edad del cliente y muestre el precio del abono.

Si el cliente es menor de 4 años, puede entrar gratis.

Si tiene entre 4 y 18 años, debe pagar $1500.

Los mayores de edad pagan $3000.

In [5]:
edad=int(input("Ingrese su edad: "))

if edad >= 18 :
  print("Su abono es de $3000")
elif edad >= 4 and edad < 18:
  print("Su abono es de $1500")
else:
  print("Entra gratis")

Ingrese su edad: 3
Entra gratis

**Ejercicio 7**

Crear un programa que pregunte la edad del usuario y muestre por pantalla un contador desde el 1 hasta la edad introducida.

In [13]:
edad=int(input("Ingrese su edad: "))

for n in range(1,edad+1,1):
  print(n)

Ingrese su edad: 20
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

**Ejercicio 8**

Crear un programa que muestre todas las tablas de multiplicar desde la del 1 hasta la del 10.

In [83]:

tabla = 0

while tabla < 10:
    contador = 1
    tabla+= 1
    print()
    print("TABLA DE MULTIPLICAR DEL:",tabla)
    print()
    while contador <= 10:
        print (contador,"X",tabla,"=",contador * tabla,)
        contador+= 1 
   

for i in range(1,11):
 print()
 print("TABLA DE MULTIPLICAR DEL:",i)
 print()
 for j in range(1,11):
  print(i, "X" ,j ,"=", i*j)
  print(end="")

TABLA DE MULTIPLICAR DEL: 1

1 X 1 = 1
2 X 1 = 2
3 X 1 = 3
4 X 1 = 4
5 X 1 = 5
6 X 1 = 6
7 X 1 = 7
8 X 1 = 8
9 X 1 = 9
10 X 1 = 10

TABLA DE MULTIPLICAR DEL: 2

1 X 2 = 2
2 X 2 = 4
3 X 2 = 6
4 X 2 = 8
5 X 2 = 10
6 X 2 = 12
7 X 2 = 14
8 X 2 = 16
9 X 2 = 18
10 X 2 = 20

TABLA DE MULTIPLICAR DEL: 3

1 X 3 = 3
2 X 3 = 6
3 X 3 = 9
4 X 3 = 12
5 X 3 = 15
6 X 3 = 18
7 X 3 = 21
8 X 3 = 24
9 X 3 = 27
10 X 3 = 30

TABLA DE MULTIPLICAR DEL: 4

1 X 4 = 4
2 X 4 = 8
3 X 4 = 12
4 X 4 = 16
5 X 4 = 20
6 X 4 = 24
7 X 4 = 28
8 X 4 = 32
9 X 4 = 36
10 X 4 = 40

TABLA DE MULTIPLICAR DEL: 5

1 X 5 = 5
2 X 5 = 10
3 X 5 = 15
4 X 5 = 20
5 X 5 = 25
6 X 5 = 30
7 X 5 = 35
8 X 5 = 40
9 X 5 = 45
10 X 5 = 50

TABLA DE MULTIPLICAR DEL: 6

1 X 6 = 6
2 X 6 = 12
3 X 6 = 18
4 X 6 = 24
5 X 6 = 30
6 X 6 = 36
7 X 6 = 42
8 X 6 = 48
9 X 6 = 54
10 X 6 = 60

TABLA DE MULTIPLICAR DEL: 7

1 X 7 = 7
2 X 7 = 14
3 X 7 = 21
4 X 7 = 28
5 X 7 = 35
6 X 7 = 42
7 X 7 = 49
8 X 7 = 56
9 X 7 = 63
10 X 7 = 70

TABLA DE MULTIPLICAR DEL: 8

1 X 8 = 8
2 X 8 = 16
3 X 8 = 24
4 X 8 = 32
5 X 8 = 40
6 X 8 = 48
7 X 8 = 56
8 X 8 = 64
9 X 8 = 72
10 X 8 = 80

TABLA DE MULTIPLICAR DEL: 9

1 X 9 = 9
2 X 9 = 18
3 X 9 = 27
4 X 9 = 36
5 X 9 = 45
6 X 9 = 54
7 X 9 = 63
8 X 9 = 72
9 X 9 = 81
10 X 9 = 90

TABLA DE MULTIPLICAR DEL: 10

1 X 10 = 10
2 X 10 = 20
3 X 10 = 30
4 X 10 = 40
5 X 10 = 50
6 X 10 = 60
7 X 10 = 70
8 X 10 = 80
9 X 10 = 90
10 X 10 = 100

TABLA DE MULTIPLICAR DEL: 1

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10

TABLA DE MULTIPLICAR DEL: 2

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

TABLA DE MULTIPLICAR DEL: 3

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30

TABLA DE MULTIPLICAR DEL: 4

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

TABLA DE MULTIPLICAR DEL: 5

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

TABLA DE MULTIPLICAR DEL: 6

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

TABLA DE MULTIPLICAR DEL: 7

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

TABLA DE MULTIPLICAR DEL: 8

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80

TABLA DE MULTIPLICAR DEL: 9

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

TABLA DE MULTIPLICAR DEL: 10

10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

**Ejercicio 9**

Crear un programa que pida al usuario una palabra, y luego muestre las letras de la palabra introducida una por una y empezando por la última.

In [105]:
palabra=input("Ingrese una palabra:")
list(palabra)
for e in reversed(palabra):
  print(e,end="-")

Ingrese una palabra:espinaca
a-c-a-n-i-p-s-e-

**Ejercicio 10**

Crear un programa en el que se pregunte al usuario por una palabra y una letra, y muestre por pantalla el número de veces que aparece la letra en la frase.

In [8]:
palabra=input("Ingrese una palabra:")
letra=input("Ingrese una letra:")
print("La letra",letra,"aparece",palabra.count(letra),"veces en la palabra")

Ingrese una palabra:gabriela
Ingrese una letra:a
La letra a aparece 2 veces en la palabra

**Ejercicio 11**

Crear un programa que muestre el eco (repita en pantalla) todo lo que el usuario introduce por teclado, hasta que el usuario escriba "salir".

**Ejercicio 12**

Crear un programa que almacene las asignaturas de un curso (por ejemplo Matemáticas, Física, Química, Historia y Lengua) en una lista y muestre por pantalla el mensaje "`Yo estudio [nombre_de_la_asignatura]`". Una línea por cada asignatura.

In [10]:
asig=["Matematicas","Física", "Química", "Historia" , "Lengua"]

for i in asig:
  print("Yo estudio",[i])

Yo estudio ['Matematicas']
Yo estudio ['Física']
Yo estudio ['Química']
Yo estudio ['Historia']
Yo estudio ['Lengua']

**Ejercicio 13**

Crear un programa que guarde en un diccionario los precios de las frutas de la tabla, pregunte al usuario por una fruta, los kilos y muestre por pantalla el precio. Si la fruta no está en el diccionario, mostrar un mensaje.

```
Fruta       Precio
===================
Banana         80
Manzana       100
Pera           50
Naranja        70
```

**Ejercicio 14**

Crear un programa que almacene el diccionario con los créditos de las asignaturas de un curso (por ejemplo: `{'Matemáticas':6, 'Física':4, 'Química':5}` y después muestre por pantalla los créditos de cada asignatura con el siguiente formato:

`[asignatura] tiene [creditos] créditos.`

Al final debe mostrar la suma de los créditos del curso.